<div class="banner" style="background-image: linear-gradient(rgba(6, 84, 97, 0.4),rgba(0, 7, 10, 0.4)), url(<%= asset_path('banner.jpg') %>);">
  <div class="container">
	<h1><strong>Watch list</strong> pour les <strong>cinéphiles</strong>!</h1>
	<p>Créer et partager vos propres listes de films </p>
  </div>
</div>
